@page
@model V___Medicals.Pages.Clinics.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardLayout";
}
<a class="btn btn-primary" asp-page="./Index">Back</a>
<h4 class="text-center Monospace"> Clinic's Details</h4>
<div>
    <div class="row my-3 d-flex justify-content-center">
        <div class="col m-2 text-center col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Created on:
                @*@Html.DisplayNameFor(model => model.User.Created)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.CreatedOn)
            </dd>
        </div>
        <div class="col text-center m-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Created by:
                @*@Html.DisplayNameFor(model => model.User.Created)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.CreatedBy)
            </dd>
        </div>
        <div class="col text-center m-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Last Modified on:
                @*@Html.DisplayNameFor(model => model.User.Updated)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.UpdatedOn)
            </dd>
        </div>
        <div class="col text-center m-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Last Modified by:
                @*@Html.DisplayNameFor(model => model.User.Updated)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.ModefiedBy)
            </dd>
        </div>
    </div>
    <hr />
    <dl class="row my-2 d-flex justify-content-center">
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Clinic Name
                @*@Html.DisplayNameFor(model => model.Clinic.Name)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.Name)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Address
                @*@Html.DisplayNameFor(model => model.Clinic.AddressLine)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.AddressLine)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                State/Province
                @*@Html.DisplayNameFor(model => model.Clinic.District)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.District)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Clinic.City)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.City)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Postal Code
                @*@Html.DisplayNameFor(model => model.Clinic.PostalCode)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.PostalCode)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Map Link
                @*@Html.DisplayNameFor(model => model.Clinic.MapLink)*@
            </dt>
            <dd class="col">
                <a href="@Model.Clinic.MapLink">@Html.DisplayFor(model => model.Clinic.MapLink)</a>  
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Clinic.Summary)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.Summary)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Clinic Type
                @*@Html.DisplayNameFor(model => model.Clinic.Type)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.Type)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Clinic.Status)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Clinic.Status)
            </dd>
            </div>
    </dl>
    <hr />
</div>
@*<div>
    <a asp-page="./Edit" asp-route-id="@Model.Clinic?.ClinicId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
