@page
@model V___Medicals.Pages.Clinics.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_DashBoardLayout";
}

<div class="text-center text-dark">
    <p class="text-center p-2 Monospace d-inline-flex border border-info">Clinics</p>
</div>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<div class="form-group">
    <div class="input-group p-0 col-lg-4 col-md-5 col-sm-6 col-xs-12">

        <select id="selectdoctor" asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"><option value="-1" selected>All Doctors</option></select>
        <div class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Doctor
            </th>
            <th>
                Clinic
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorClinic[0].Clinic.Status)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DoctorClinic)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ClinicId"> @Html.DisplayFor(modelItem => item.Doctor.FullName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinic.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinic.AddressLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinic.Status)
                </td>
                <td>
                    <a  asp-page="./Details" asp-route-id="@item.ClinicId"><i class="fa-solid fa-eye"></i></a> |
                    <a asp-page="./Edit" asp-route-id="@item.ClinicId"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.ClinicId"><i class="fa-solid fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>var selectdoctor = document.getElementById('selectdoctor');
        selectdoctor.addEventListener('change', function () {

            var x = document.getElementById("selectdoctor").value;

            $.ajax({
                url: '?handler=ByDoctor&id=' + x,
                data: "{}",
                success: function (data) {
                    console.log("Success");
                },
                error: function (error) {
                    alert("Error: " + error);
                }
            });
        }, false);</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
