@page
@model V___Medicals.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_DashBoardLayout";
}

<div class="text-center text-dark">
    <p class="text-center p-2 Monospace d-inline-flex border border-info">Users</p>
</div>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
            <th>
                Role
                @*@Html.DisplayNameFor(model => model.User[0].UserName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].IsActive)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.Name)</a>
                </td>

                <td>
                    @foreach (IDictionary<string, dynamic> userRole in Model.UserRoles)
                    {


                        @if (userRole["UserId"] == item.Id)
                        {
                            string role = userRole["UserRole"];
                            @Html.DisplayFor(modelItem => role)
                        }

                    }

                    @*@Html.DisplayFor(modelItem => item.UserName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
