@page
@model V___Medicals.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_DashBoardLayout";
}

<div class="text-center text-dark">
    <p class="text-center p-2 Monospace d-inline-flex border border-info">Patients</p>
</div>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<div class="form-group">
    <div class="input-group p-0 col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <input class="form-control" type="text" placeholder="Search by name" />

        <div class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.Patient[0].FullName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Email)
            </th>
            <th>
                Phone No
                @*@Html.DisplayNameFor(model => model.Patient[0].PhoneNumber)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].CNIC)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Patient)
        {
            <tr>
                <td>
                 <a asp-page="./Details" asp-route-id="@item.PatientId">   @Html.DisplayFor(modelItem => item.FullName)</a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNIC)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.PatientId"><i class="fa-solid fa-eye"></i></a> |
                    <a asp-page="./Edit" asp-route-id="@item.PatientId"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.PatientId"><i class="fa-solid fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
