@page
@model V___Medicals.Pages.Doctors.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_DashBoardLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Speciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Speciality.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.AddressLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.AddressLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.User.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Doctor.DoctorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
