@page
@model V___Medicals.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardLayout";
}
<div>
    <h4>Doctor's Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Speciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Speciality.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.AddressLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.AddressLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.User.Id)
        </dd>
    </dl>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Document Name
                </th>
                <th>
                    Document
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Doctor.Documents!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        <a href="/@Html.DisplayFor(modelItem => item.DocumentPath)">@Html.DisplayFor(modelItem => item.DocumentPath)</a>
                    </td>
                    <td>
                       @* <a asp-page="./Edit" asp-route-id="@item.DoctorDocumentId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.DoctorDocumentId">Details</a> |*@
                        <a asp-page="./Documents/Delete" asp-route-id="@item.DoctorDocumentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Documents/Create" asp-route-id="@Model.Doctor?.DoctorId">Add Documents</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Doctor?.DoctorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
