@page
@model V___Medicals.Pages.Availability.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardLayout";
}

<h1>Details</h1>

<div>
    <h4>Availability</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.Clinic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.Clinic.AddressLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.Doctor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.ClinicDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.ClinicDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.SlotLenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.SlotLenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.AvailableSlots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.AvailableSlots)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability.BookedSlots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability.BookedSlots)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Availability?.AvailabilityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
