@page
@model V___Medicals.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardLayout";
}

<a class="btn btn-primary" asp-page="./Index">Back</a>
<h4 class="text-center Monospace">Appointment's Details</h4>
<div>
    <div class="row my-3 d-flex justify-content-center">
        <div class="col m-2 text-center col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Created on:
                @*@Html.DisplayNameFor(model => model.User.Created)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.CreatedOn)
            </dd>
        </div>
        <div class="col text-center m-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Created by:
                @*@Html.DisplayNameFor(model => model.User.Created)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.CreatedBy)
            </dd>
        </div>
        <div class="col text-center m-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Last Modified on:
                @*@Html.DisplayNameFor(model => model.User.Updated)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.UpdatedOn)
            </dd>
        </div>
        <div class="col text-center m-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <dt class="col text-info">
                Last Modified by:
                @*@Html.DisplayNameFor(model => model.User.Updated)*@
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.ModefiedBy)
            </dd>
        </div>
    </div>
    <hr />
    <dl class="row my-2 d-flex justify-content-center">
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Appointment.Patient)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.Patient.FullName)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Appointment.Doctor)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.Doctor.FullName)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Speciality
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.SpecialityName)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                Date
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.ClinicDate)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Appointment.Time)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.Time)
            </dd>
        </div>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.CreatedDate)
        </dd>*@
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Appointment.Description)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.Description)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
               Appointment Type
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.AppointmentType)
            </dd>
        </div>
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Appointment.Status)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Appointment.Status)
            </dd>
        </div>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.UpdatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.LastModifiedBy)
        </dd>*@
    </dl>
    <hr />
</div>
@*<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment?.AppointmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
