@page
@model V___Medicals.Pages.Doctors.Documents.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_DashBoardLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DoctorDocument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDocument.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorDocument.Doctor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDocument.DocumentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorDocument.DocumentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDocument.DocumentPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorDocument.DocumentPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDocument.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorDocument.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DoctorDocument.DoctorDocumentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
